*,::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Fredoka', sans-serif;
    /* font-size: 100%; */
}

body{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
/*----------- Container -----------*/
.container{
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
}

/*----------- Head -----------*/
.container h2{  
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
}

/*----------- Formulario de Datos -----------*/
.formulario-datos{
    display: block;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: #5f1782 !important;
    border-color: #59127c!important;
    box-shadow: none !important;
}

/*----------- Listado de Tareas -----------*/
.list-group{
    padding: 0 12px !important;
}
.list-group-item p{
    padding-top: 2.5%;
    
}
.list-group-item h3{
    font-size: 20px !important;
}

.icono{
    color: tomato;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .formulario-datos{
        width: 100%;
    } 
    .d-flex{
        display: inline-block !important;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px){
.formulario-datos{
    width: 100%;
}
}

@media only screen and (min-width: 701px) and (max-width: 900px){
    .formulario-datos{
        width: 100%;
    }

}